<br>
<div class= "row">
	<div class="col-md-6">
	<h1> Registro de persona</h1>

	<form action="/persona/update/<%= persona.id %>" method="POST" accept-charset="utf-8" class="form-singin">

		<label>Nombre</label>
		<input type="text" name="nombre" value="<%= persona.nombre %>" class="form-control" required>

		<label>Apellido</label>
		<input type="text" name="apellido" value="<%= persona.apellido %>" class="form-control" required>

		<label>DNI</label>
		<input type="text" name="dni"  value="<%= persona.dni %>" class="form-control" required>

		<label>Telefono</label>
		<input type="text" name="telefono" value="<%= persona.telefono %>" class="form-control" required>

		<label>Email</label>
		<input type="text" name="email" value="<%= persona.email %>" class="form-control" required>

		<br>
		<input type="submit" class="btn btn-default"/>
		<br>
	</form>
	</div>
</div>
<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script>