<br>
<div class="row">
    <div class="col-md-12">
        <a href="/persona/new" class="btn btn-default btn-sm" <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-plus"></span>AGREGAR PERSONA </a>
        <br>
        <br>
		<table id="table"  class="display" cellspacing="0" width="100%" >
	        <thead>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>DNI</th>
				<th>Telefono</th>
				<th>Email</th>
				<th>Ver Mas</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</thead>
	        <tbody>	
			<% _.each(personas, function(entidad) { %>
			<tr>
				<td><%= entidad.nombre %></td>
				<td><%= entidad.apellido %></td>
				<td><%= entidad.dni %></td>
				<td><%= entidad.telefono %></td>
				<td><%= entidad.email %></td>
				<td>
					<a href="/persona/show/<%=entidad.id%>" class="btn btn-default btn-sm ">
					<span class="glyphicon glyphicon-search"></span>VER MAS</a>
				</td>
				<td>
                    <a href="/persona/edit/<%= entidad.id %>" class="btn btn-default btn-sm" >
                    <span class="glyphicon glyphicon-pencil"></span> EDITAR </a>
                </td>
                <td>
                	<a href="" class="btn btn-default btn-sm" data-objeto= "persona" data-toggle="modal" data-target="#myModal1" id = "btnModal" name = <%= entidad.id %>  >
                    <span class="glyphicon glyphicon-trash"></span> ELIMINAR </a>
                </td>
			</tr>
			<%})%>
			</tbody>
	    </table>
	</div>
</div>

<% include ../template/eliminar %>
<% include ../template/tabla %>