<div class="row">
	<div class="col-md-12">
	<h1> Registro de persona</h1>
		<div class="col-md-6">

			<% if(flash && flash.err){ %>
			<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error){ %>
				<li> <%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
			</ul>
			<% } %>
			
			

			<form action="/persona/store" method="POST" accept-charset="utf-8" class="form-singin">

				<label>Nombre</label>
				<input type="text" name="nombre" class="form-control" value= ''required>

				<label>Apellido</label>
				<input type="text" name="apellido" class="form-control" value= '' required>

				<label>DNI</label>
				<input type="text" name="dni" class="form-control" value= '' required>
		</div>
		<div class="col-md-6">

				<label>Telefono</label>
				<input type="text" name="telefono" class="form-control" required>

				<label>Email</label>
				<input type="text" name="email" class="form-control" value= '' required>

				<br>
				<button type="submit" class="btn btn-default">Agregar</button>
				<br>
			</form>
		</div>
	</div>
</div>