<div class="row">
    <div class="col-md-12">
    <h1> Bienvenido</h1>

    <div class="alert alert-success" id="alerta-oculta" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
    </div>


<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading" align="center">
            <h3 class="panel-title">BIENVENIDO, SIGA LOS PASOS:</h3>            
        </div>
        <div class="panel-body">
<p> <b>1) Ingrese su numero de documento: </b> se utiliza para saber si ya esta registrado y/o tiene tramites en curso</p>
<form action="/persona/storePersona" id="myform" method="POST" accept-charset="utf-8" class="form-singin">
                <div class="col-md-12">
                    <div class="col-md-8">
                        
                        <input type="text" name="dni" id = "dni" class="form-control" value= '' required>
                    </div>

                <input type="hidden" name="turno" id = "turno" class="form-control" value= '<%-turno %>' required>

                    <div class="col-md-2">
                     <button type="button" class="btn btn-default" style="cursor:pointer" id = "buscar">
                        <span class="glyphicon glyphicon-search"></span> BUSCAR
                     </button>

                    </div>
                </div>
                <br><br>
<div id ="tema-area" style="display: none;">                
<p> <b>2) Para comenzar un nuevo tema seleccione un area y luego un tema: </b> Recuerde que cada area tiene temas especificos</p>
                <div class="col-md-4">
                     <select class="js-example-basic-single" id = "area" name = "area" style = "width: 100%;" class="form-control">
                    </select>
                </div>

                <div class="col-md-6">
                     <select class="js-example-basic-single1" id = "tema" name = "tema" style = "width: 100%;" class="form-control">
                    </select>
                </div>

                <button type="submit" class="btn btn-default">GENERAR</button>
</div>                
                <br>
            </form>

        </div>
    </div>
</div>



        <div class="col-md-10">
            <% if(flash && flash.err){ %>
            <ul class="alert alert-success">
                <% Object.keys(flash.err).forEach(function(error){ %>
                <li> <%- JSON.stringify(flash.err[error]) %></li>
                <% }) %>
            </ul>
            <% } %>
            
            
        </div>
    </div>
</div>

<div id="modalReactivar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Reactivar Ticket</h4>
            </div>
            <div class="modal-body edit-content">
                <form action="/ticket/reactivar/" method="POST" accept-charset="utf-8" class="form-singin">
                <input type="hidden" id= "id" name="id" class="form-control" required>
                <input type="hidden" name="tipo" class="form-control" value= '5' required>
                <p>Seguro que desea volver a abrir el ticket?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <input type="submit" class="btn btn-primary" value="Si"/>
            </div>
        </div>
        </form>
    </div>
</div>

<div id="modalLoader" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Reactivar Ticket</h4>
            </div>
            <div class="modal-body edit-content">
                <form action="/ticket/reactivar/" method="POST" accept-charset="utf-8" class="form-singin">
                <input type="hidden" id= "id" name="id" class="form-control" required>
                <input type="hidden" name="tipo" class="form-control" value= '5' required>
                <p>Seguro que desea volver a abrir el ticket?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <input type="submit" class="btn btn-primary" value="Si"/>
            </div>
        </div>
        </form>
    </div>
</div>


<br><br>

<div class="col-md-12" id = "tickets-reposo" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading" align="center">
            <h3 class="panel-title">TICKETS EN REPOSO (No resueltos en el dia)</h3>
        </div>

        <div class="panel-body">
        <div id = "tickets-reposo">
        <p> <b>2) Si Tiene tickets sin terminar:</b> Presione reactivar para poder continuar con el mismo</p>
        </div>
            <table id="example" name="example" class="display" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div> 

<link rel="stylesheet" href="/styles/table/tablita.css">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />
<script src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/jquery.dataTables.js"></script>
<script src="/js/table/bootstrap.min.js"></script>
<link rel="stylesheet" href="/styles/select2.css">
<link rel="stylesheet" href="/styles/select2.min.css">
<script src="/js/select2/js/select2.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>

<script type="text/javascript">


function insertarAjax(){
    $.ajax({
      type: "POST",
      url: url,
      data: data,
      success: success,
      dataType: dataType
    });
}
//

$(document).ready (function(){
//    $("#tema-area").hide();
    var submit = false;
     $("#myform").submit(function(e) {
//        notificarExito();

    var turno = $("#turno").val();
    $("#alerta-oculta").show();
    $( "#alerta-oculta" ).append("<b>Exito: </b> Su ticket fue generado con codigo: <u> <b>" + turno + "</b> </u>" );


          setTimeout(function(){
              $("#alerta-oculta").hide();
              submit = true;
              $("#alerta-oculta").html("");
              $("#myform").submit();
          }, 4000);
          if(!submit)
              e.preventDefault();
     });   
});

//dni

$('#buscar').on( 'click', function () {
    var dni =  $("#dni").val();
    $("#tema-area").show();
    $("#tickets-reposo").show();
    cargarTabla(dni);
} );

function format ( d ) {
         return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td><strong>Asunto:</strong></td>'+
            '<td>'+d.asunto+'</td>'+
        '</tr>'+

        '<tr>'+
            '<td><strong>Ultima respuesta:</strong></td>'+
            '<td>'+d.respuestas_asunto+'</td>'+
        '</tr>'+

        '<tr>'+
            '<td><strong>Cantidad de visitas:</strong></td>'+
            '<td>'+d.visitas+'</td>'+
        '</tr>'+
    '</table>';
}

 
$('#refrescar').on( 'click', function () {
  tabla();

} );



function cargarTabla(dni){
   var dt = $('#example').DataTable( {
    "sAjaxSource": "/tickets_persona/" + dni,
    "sAjaxDataProp": "",
    "responsive" :true,
    "processing": true,
    "destroy": true,
//    "serverSide": true,
    "language": {
     "url": "/idiomatabla.json"},
     drawCallback: function( settings ) {
            },
    "columns": [
            { "data": "visitas", "title" : "Estado"},
            { "data": "asignado", "title" : "Asignado"},
            { "data": "serenderizaabajo", "title" : "Postulante"},
            { "data": "dni", "title" : "Documento"},
            { "data": "tema", "title" : "Tema"},
            {
                "class":          "details-control",
                "orderable":      false,
                "data":           null,
                "sDefaultContent": '<div class="expand /"> Ver Mas',
                "title" : "Detalle"
            },
            { "data": "serenderizaabajo1", "title" : "Opciones"},
//            { "data": "serenderizaabajo2", "title" : "Pasar"},

            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return row.apellido + " " + row.nombre;//row.FirstName + " " + row.LastName;
                    },
                    "targets": 2
                },
                {
                    "render": function (data, type, row) {
                    if(row.atendido == 1){ 
                        return '<span class="glyphicon glyphicon-ok" style="color:green"></span>';
                    } else {
                        var color = '';
                        if(row.visitas == 0){
                            color = 'black';
                            
                        } else if(row.visitas <= 3){
                            color = 'orange';   
                        } else if(row.visitas >= 5){
                            color = 'red';   
                        }
                        return '<span class="glyphicon glyphicon-remove" style="color:' + color +'"></span> En Reposo';
                    }
                        
                    },
                    "targets": 0
                },
                {
                    "render": function (data, type, row) {
                        return '<a href="" class="btn btn-default btn-sm" data-objeto= "area" data-toggle="modal" data-target="#modalReactivar" id = "' + row.id +'" role="button"><span class="glyphicon glyphicon-repeat"></span> VOLVER A ABRIR</a>'; 
                    },
                    "targets": 6
                },
            /*    {
                    "render": function (data, type, row) {
                        return '<a href="" class="btn btn-default btn-sm" data-objeto= "area" data-toggle="modal" data-target="#edit-modal" id = "' + row.id +'" role="button"><span class="glyphicon glyphicon-refresh"></span> PASAR</a>';
                    },
                    "targets": 7
                },*/

            ]

    } );

    $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = dt.row( tr );
 
        if ( row.child.isShown() ) {
            row.child.hide();
            // <link rel="stylesheet" href="/styles/table/tablita.css">
            //AGREGA LA CLASE PARA EL CSS DE TABLITA QUE MUESTRA EL MAS VERDE
              tr.removeClass('shown');
              $(this).text("Ver Mas");
        }
        else {
            row.child(format(row.data()) ).show();
            //AGREGA LA CLASE PARA EL CSS DE TABLITA QUE MUESTRA EL MAS ROJO
             tr.addClass('shown');
            $(this).text("Ver Menos");
        }
    } );


    $('#edit-modal').on('show.bs.modal', function(e) {

        var $modal = $(this),
            esseyId = e.relatedTarget.id;

            $("#idTicket").val( esseyId );

    })
}


/*

$.ajax({
  type: "GET",
  url: "/area_ajax/",
//ASI SE ENVIA UN ARRAY AJAX! DEL OTRO LADO SE LEE COMO UN REQ POR SU NOMBRE Y LISTO!
//  data: {hola: 'holaweb', chau: 'chauweb'},
  cache: false,
  success: function(data){
     //$("#resultarea").text(data);
 $(".js-example-basic-single").select2({
  data: data
});
    alert(data);
  }
});
*/
/*
select2Areas();
$(".js-example-basic-single").change(select2Temas);
$(".js-example-basic-single1").select2();
*/

select2Areas();

$(".js-example-basic-single").change(function(){
    var idArea = x=$(".js-example-basic-single").val();
    select2Temas(idArea);
});
$(".js-example-basic-single1").select2();


function select2Areas(){
    $.ajax({  
        type: "GET",
        url: "/area_ajax/",
        cache: false,
        async:true,
        dataType: 'json',
        success: function(data){
            $(".js-example-basic-single").select2({
                data: data
            })
         select2Temas(data[0].id);
        }
    });
}

function select2Temas(idArea){
 $('.js-example-basic-single1').find('option').remove().end();
  $.ajax({  
            type: "GET",
            url: "/tema_ajax/",
            data: {idArea: idArea},
            cache: false,
            async:true,
            dataType: 'json',
            success: function(data){  
          //   debugger;        
            $(".js-example-basic-single1").select2({
              data: data
            })
            } 
        });
        
}

function incrementarInt(){
    var str = $("#turno").val();
    var hasta = str.length,
    desde = 3,
    cortado = str.substr(0, 3);


    var resul = parseInt(str.substr(desde, hasta));
    if(resul < 99) {
        resul += 1;
        cortado = cortado + resul.toString();
    } else {    
        resul = 1;
        cortado = ((parseInt(cortado, 36)+1).toString(36)).replace(/0/g,'a').toUpperCase() + resul.toString();
    }
    $("#turno").val(cortado);
}

io.socket.on('incrementarContador', function gotHelloMessage (data) {
    incrementarInt();
});
        
    // SE AGREGO ESTA LINEA PARA OBTENER LOS VALORES GUARDADOS DE LA ENTIDAD
//$('#ipduv_tierrasbundle_expediente_oferente').append('<option value="' + "{{ entity.oferente.id }}" + '">' + "{{ entity.oferente.razon }}" + '</option>');    
//}

    /*
    $.ajax({
        url: 'area_ajax',
        method: 'GET',

        // Tell the server we're sending JSON--not strictly necessary with Sails,
        // but recommended.
        contentType: 'application/json', 

        // Don't URLencode data
        processData: false,

        // Stringify the data--otherwise it will send "[object object]"
        data: JSON.stringify({
            valor: '5',
            name: 'myNewName'
         }),

        success: function(data) {
            alert('bien');
            alert(data);
            //window.location('/character/show/'+$("a#identity-edit").attr("data-id"));
        },
        failure: function(msg) {
            alert("Fail : " + msg);
        },
        error: function(xhr, status, text) {
            alert(text);
            var response = jQuery.parseJSON(xhr, responseText);
            alert(response.error);
        }
    });  
*/

$('#modalReactivar').on('show.bs.modal', function(e) {

    var $modal = $(this),
    esseyId = e.relatedTarget.id;

    $("#id").val( esseyId );

    })

$('#modalLoader').on('show.bs.modal', function(e) {

    var $modal = $(this),
    esseyId = e.relatedTarget.id;

    $("#id").val( esseyId );

    })


</script>