<div class= "row">
<div class="col-md-12">
    
<header class="page-header">
    <h1 class="page-title">Informacion de <%= persona.nombre + ' ' +  persona.apellido%></h1>
    <small> <i class="fa fa-clock-o"></i> Ultima visita: <time><%= persona.ultimo_ticket %> </time></small>
</header>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

        <div class="row">
          <div class="col-lg-12">

            <div class="col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre: </strong> <%= persona.nombre + ' ' +  persona.apellido%></li>
                    <li class="list-group-item"><strong>Documento: </strong> <%= persona.dni %></li>
            </div>
             <div class="col-xs-6">
                    <li class="list-group-item"><strong>Telefono: </strong> <%= persona.telefono %> </li>
                    <li class="list-group-item"><strong>Email: </strong> <%= persona.email %></li>
              </ul>
            </div>
          </div>

    </div>

    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Tickets del usuario</h2>
        <a href="" class="btn btn-default btn-sm" data-objeto= "ticket" data-toggle="modal" data-target="#edit-modal" id = "' + row.id +'" role="button"><span class="glyphicon glyphicon-plus"></span> AGREGAR TICKET</a>
        <br>
        <br>
        <table id="example"  class="display" cellspacing="0" width="100%" >
            <thead>
                <tr>
                    <th>Estado</th> 
                    <th>Num Seguimiento</th>
                    <th>Creacion</th>                             
                    <th>Asunto</th>
                    <th>Visitas</th>
                    <th>Mas Info</th>
                    <th>Detalle</th>
                    <th>Derivar</th>
                </tr>
            </thead>
        </table>
    
    </div>
</div>




<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Nuevo ticket para  <%= persona.nombre + ' ' +  persona.apellido%></h4>
            </div>
            <div class="modal-body edit-content">
                <form action="/persona/storeTicket" method="POST" accept-charset="utf-8" class="form-singin">

                
                <input type="hidden" id= "idPersona" name="idPersona" value= <%= persona.id %> class="form-control" required>

                <input type="hidden" name="turno" id = "turno" class="form-control" value= '<%-turno %>' required>

                    <label>Area</label>
                    <select class="js-example-basic-single" id = "area" name = "area" style = "width: 100%;" class="form-control">
                    </select>

                    <label>Tema</label>
                     <select class="js-example-basic-single1" id = "tema" name = "tema" style = "width: 100%;" class="form-control">
                    </select>

                <label>Asunto</label>
                <textarea class="form-control" rows="3" name="asunto" class="form-control" required></textarea>
                <%if ( session.User) { %>
                <%if ( session.User.admin == '2') { %>
                        <label>Estado</label>
                        <select class="form-control" name="estado">
                           <option value= 1 > Activo </option>
                           <option value= 0 > Inactivo </option>                           
                        </select>        
                <% } %>
                <% } %>
                <br>                
                <br>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>
        </form>
    </div>
</div>
</div>


<link rel="stylesheet" href="/styles/table/tablita.css">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />
<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/table/jquery.dataTables.js"></script>
<script src="/js/table/bootstrap.min.js"></script>
<link rel="stylesheet" href="/styles/select2.css">
<link rel="stylesheet" href="/styles/select2.min.css">
<script src="/js/select2/js/select2.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>

<script type="text/javascript">


function incrementarInt(){
    var str = $("#turno").val();
    var hasta = str.length,
    desde = 3,
    cortado = str.substr(0, 3);


    var resul = parseInt(str.substr(desde, hasta));
    if(resul < 99) {
        resul += 1;
        cortado = cortado + resul.toString();
    } else {    
        resul = 1;
        cortado = ((parseInt(cortado, 36)+1).toString(36)).replace(/0/g,'a').toUpperCase() + resul.toString();
    }
    $("#turno").val(cortado);
}

io.socket.on('incrementarContador', function gotHelloMessage (data) {
    incrementarInt();
});


select2Areas();

$(".js-example-basic-single").change(function(){
    var idArea = x=$(".js-example-basic-single").val();
    select2Temas(idArea);
});
$(".js-example-basic-single1").select2();


function select2Areas(){
    $.ajax({  
        type: "GET",
        url: "/area_ajax/",
        cache: false,
        async:true,
        dataType: 'json',
        success: function(data){
            $(".js-example-basic-single").select2({
                data: data
            })
         select2Temas(data[0].id);
        }
    });
}

function select2Temas(idArea){
 $('.js-example-basic-single1').find('option').remove().end();
  $.ajax({  
            type: "GET",
            url: "/tema_ajax/",
            data: {idArea: idArea},
            cache: false,
            async:true,
            dataType: 'json',
            success: function(data){  
          //   debugger;        
            $(".js-example-basic-single1").select2({
              data: data
            })
            } 
        });
        
}


function format ( d ) {
         return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Detalle:</td>'+
            '<td>'+d.asunto+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Cantidad de visitas:</td>'+
            '<td>'+d.visitas+'</td>'+
        '</tr>'+
    '</table>';
}


   var dt = $('#example').DataTable( {
    "sAjaxSource": "http://localhost:1337/tickets/" + <%= persona.id %>,
    "sAjaxDataProp": "",
    "responsive" :true,
    "processing": true,
    "language": {
     "url": "/idiomatabla.json"},
//    "serverSide": true,
    "columns": [
            { "data": "visitas"},
            { "data": "turno"},
            { "data": "creacion"},
            { "data": "serenderizaabajo"},
            
            { "data": "visitas"},
            {
                "class":          "details-control",
                "orderable":      false,
                "data":           null,
                "sDefaultContent": '<div class="expand /"> Ver Mas'
            },
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return row.tema.tema;//row.FirstName + " " + row.LastName;
                    },
                    "targets": 3
                },
                {
                    "render": function (data, type, row) {
                    if(row.estado >= 1) {
                        var estado = '';
                        switch (row.estado) {
                            case 1:
                                estado = "<b> En Proceso </b>";
                                break;
                            case 2:
                                estado = "<b> Finalizado </b>";
                                break;
                            case 3:
                                estado = "<b> En reposo </b>";
                                break;
                            case 4:
                                estado = "<b> Alta totem </b>";
                        }

                        if(row.estado == 2){ 
                            return '<span class="glyphicon glyphicon-ok" style="color:green"></span>' + estado;
                        } else {
                            var color = '';
                            if(row.visitas < 3){
                                color = 'black';
//                                estado = '<b> En proceso </b>';
                                
                            } else if(row.visitas >= 3 && row.visitas <5){
                                color = 'orange'; 
//                                estado = '<b> En reposo </b>';  
                            } else if(row.visitas >= 5){
                                color = 'red'; 
//                                estado = '<b> En reposo </b>';  
                            }
                            return '<span class="glyphicon glyphicon-remove" style="color:' + color +'"></span>  ' + estado;
                        }
                     }   
                     else {
                        var estado = "<b> ELIMINADO </b>";
                        return '<B><p style="color:red">' + estado + '</span> </B>';
                    }

                    },
                    "targets": 0
                },
                {
                    "render": function (data, type, row) {
                        return '<a href="/ticket/show/'+ row.id +'" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> MAS INFO</a>';
                    },
                    "targets": 6
                },
                {
                    "render": function (data, type, row) {
                        return '';
          
                        if (row.estado != 0 || row.estado != 3){
                        return '<a href="" class="btn btn-default btn-sm" data-objeto= "area" data-toggle="modal" data-target="#edit-modal" id = "' + row.id +'" role="button"><span class="glyphicon glyphicon-refresh"></span> DERIVAR</a>';
                    } else { return ''; }
                    },
                    "targets": 7
                },
            ]

    } );

  $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = dt.row( tr );
 
        if ( row.child.isShown() ) {
            row.child.hide();
            // <link rel="stylesheet" href="/styles/table/tablita.css">
            //AGREGA LA CLASE PARA EL CSS DE TABLITA QUE MUESTRA EL MAS VERDE
              tr.removeClass('shown');
              $(this).text("Ver Mas");
        }
        else {
            row.child(format(row.data()) ).show();
            //AGREGA LA CLASE PARA EL CSS DE TABLITA QUE MUESTRA EL MAS ROJO
             tr.addClass('shown');
            $(this).text("Ver Menos");
        }
    } );

// The automatically-created socket is exposed as io.socket.
// Use .on() to subscribe to the 'hello' event on the client

/*
io.socket.on('hello', function gotHelloMessage (data) {
alert(data.id);
//  console.log('Socket `' + data.id + '` joined the party!');
});

*/
// Use .get() to contact the server
//io.socket.get('/say/hello', function gotResponse(body, response) {
//  console.log('Server responded with status code ' + response.statusCode + ' and data: ', body);
//})


//operativa
</script>

