<br>
<div class= "row">
	<div class="col-md-6">
	<h2> Editar Area <%= area.nombre %></h2>
		<form action="/area/update/<%= area.id %>" method="POST" accept-charset="utf-8" class="form-singin">

			<label>Nombre</label>
			<input type="text" name="nombre" value="<%= area.nombre %>" class="form-control" required>

			<%if (session.User) { %>
				<%if ( session.User.admin == '2') { %>	
					<label>Estado</label>
					<select class="form-control" name="estado">
					   <option value= 1 <%if(1 == area.estado) {%> selected="selected" <%}%> > Activo </option>
					   <option value= 0 <%if(0 == area.estado) {%> selected="selected" <%}%>> Inactivo </option>					       
					</select>
				<% } %>
			<% } %>
			<br>
			<button type="submit" class="btn btn-default btn-sm">Editar</button>

		</form>
	</div>
</div>

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script>