<div class="row">
    <div class="col-md-12">
    <h2>Areas Registrados</h2>
        <a href="/area/new" class="btn btn-default btn-sm" <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-plus"></span>AGREGAR AREA </a>
        <br>
        <br>
        <table id="table"  class="display" cellspacing="0" width="100%" >
            <thead>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
            </thead>
            <tbody>
            <% _.each(areas, function(entidad) { %>
             <tr>
                    <td><%= entidad.nombre %></td>
                    <td>
                     <% if(1 == entidad.estado) { %>
                        Activo <% } else { %> Inactivo
                    <% } %>
                    </td>
                    <td>
                    <a href="/area/edit/<%= entidad.id %>" class="btn btn-default btn-sm" >
                    <span class="glyphicon glyphicon-pencil"></span> EDITAR </a>
                    </td>
                    <td>
                    <a href="" class="btn btn-default btn-sm" data-objeto= "area" data-toggle="modal" data-target="#myModal1" id = "btnModal" name = <%= entidad.id %>  >
                    <span class="glyphicon glyphicon-trash "></span> ELIMINAR </a>
                    </td>
            </tr>
            <%})%>
            </tbody>
        </table>
    </div>
</div>


<% include ../template/eliminar %>
<% include ../template/tabla %>

<script src="/js/dependencies/sails.io.js"></script>
<script>
/*
io.socket.on('area', function gotHelloMessage (data) {
    console.log('Socket `' + data.id + '` joined the party!');
});*/

/*io.socket.on('area', function (event){
        alert('hola');
      console.log(event);

});*/

io.socket.on('area', function (event){
  /*switch (event.verb) {
    case addedTo:
      console.log(event);
      // => see below
      break;
    default:
      console.warn('Unrecognized socket event (`%s`) from server:',event.verb, event);
  }*/
  alert('cachingo');
  console.log(event);
});


</script>