<div class="row">
	<div class="col-md-6">
		<% if(flash && flash.err){ %>
		<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error){ %>
			<li> <%- JSON.stringify(flash.err[error]) %></li>
			<% }) %>
		</ul>
		<% } %>

		<h2>Nuevo area</h2>

		<form action="/area/store" method="POST" accept-charset="utf-8" class="form-singin">

			<label>Nombre</label>
			<input type="text" name="nombre" class="form-control" required>

			<%if (session.User) { %>			    	
				<%if ( session.User.admin == '2') { %>
				    	<label>Estado</label>
					    <select class="form-control" name="estado">
					       <option value= 1 > Activo </option>
					       <option value= 0 > Inactivo </option>					       
						</select>
				<% } %>
			<% } %>
			<br>
			<button type="submit" class="btn btn-default btn-sm">Agregar</button>
			<br>
		</form>
	</div>
</div>

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script