<div class="container">
	<h2>Informacion del Area</h2>
	<ul>
		<li> <%= area.nombre %> </li>
	</ul>


	<form action="/area/edit/<%=area.id%>" method="POST" accept-charset="uft-8">
		<button type="submit" class="btn btn-success"> Editar</button>
	</form>
</div>

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script>