<form action="/session/create" method="POST">

  <h1><img src="/images/logo.png"> </h1>
  <div>
    <input type="input" class="form-control" id="usuario" name="usuario" value="" placeholder="Usuario" required="true">
  </div>
  <div>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="true">
  </div>
  <div>
    <input type="checkbox" name="remember" class="to_register"> Recordarme
  </div>
  <div>
    <button class="btn btn-default submit" type="submit"> Log in</button> 
    <a class="reset_pass" href="#">Perdiste tu clave?</a>
  </div>

  <div class="clearfix"></div>

  <div class="separator">
    <p class="change_link">Nuevo sitio?
       <a href="#signup" class="to_register"> Crear cuenta </a>
    </p>

    <div class="clearfix"></div>
    <br />

   
</form>