<div class="row">
	<div class="col-md-4 col-md-offset-4 mtop60">
		<% if(flash && flash.err) {%>
		<ul class="alert alert-success">
			<% Object.keys(flash.err).forEach(function(error){ %>
				<li> <%- JSON.stringify(flash.err[error].message) %> </li>
			<% }) %>
		</ul>
		<% } %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Ingreso</h3>
			</div>
			
			<div class="panel-body">
				<form action="/session/create" method="POST">
					<div class="form-group">
					    <label for="usuario">Usuario</label>
					    <input type="input" class="form-control" id="usuario" name="usuario" value="" >
					</div>
					<div class="form-group">
					    <label for="password">Contraseña</label>
					    <input type="password" class="form-control" id="password" name="password">
					</div>
					<!---
					<div class="checkbox">
					    <label>
					      	<input type="checkbox" name="recordarme"> Recordarme
					    </label>
					</div>
					---->
					<button type="submit" class="btn btn-default">Entrar</button>
				</form>		
				

			  
			</div>
		</div>
	</div>
</div>	
