<!DOCTYPE html>
  <head>
  <meta charset="UTF-8">

    <!-- Meta, title, CSS, favicons, etc. -->
    <title>Sistema Gestion IPDUV | </title>
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/loader.css">


    <style type="text/css">
    .fondo{
     /* background-position: center;*/
    background-repeat: no-repeat;
    background-image: url(/images/background_1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    }

    </style>

  </head>

<body class="fondo">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      
      <%- body %>
    </div>
  </div>

  <script src="/js/app.js"></script>
  </body>
</html>
