<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema Gestion IPDUV | </title>


    <link href="/styles/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/styles/nprogress.css" rel="stylesheet">


    <link href="/styles/custom.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link href="/styles/estilo.css" media="print" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/select2.css">
    <link rel="stylesheet" href="/styles/select2.min.css">

    <link rel="stylesheet" href="/styles/loader.css">
  </head>

  <body class="nav-md" >
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/ticket" class="site_title"><img src="/images/logo.png"> <span>IPDUV</span></a>
            </div>

            <div class="clearfix"></div>

            
            <div class="profile">
              <div class="profile_pic">

                <img src="/images/profile1.gif" alt="..." class="img-circle profile_img">
                 </div>
              <div class="profile_info"> 
              <% if( session.authenticated ) { %>
                <span>Bienvenido,</span>
                <h2><%= session.User.nombre + ' ' + session.User.apellido %></h2>
              <% } %>  
              </div>
            </div>
            


            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
              <% if( session.authenticated ) { %>

              <%if ( session.User.admin == '1') { %>
                <h3>Administrador</h3>
              <% }else{ %>
                <h3>General</h3>
              <% } %>
                <ul class="nav side-menu">
                  <li><a ><i class="fa fa-book"></i> Tickets <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/persona">Por Persona</a></li>
                      <li><a href="/ticket_listar/3">Todos</a></li>
                      <li><a href="/ticket_listar/0">Sin Resolver</a></li>
                      <li><a href="/ticket_listar/1">Resueltos</a></li>
                    </ul>
                  </li>
                  <%if ( session.User.admin == '1') { %>
                  <li><a ><i class="fa fa-align-justify"></i> Temas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/tema">Listar</a></li>
                      <li><a href="/tema/new">Agregar</a></li>
                    </ul>
                  </li>

                  <li><a ><i class="fa fa-cubes"></i> Areas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/area">Listar</a></li>
                      <li><a href="/area/new">Agregar</a></li>
                    </ul>
                  </li>

                  <li><a ><i class="fa fa-user"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/usuario">Listar</a></li>
                      <li><a href="/usuario/new">Agregar</a></li>
                    </ul>
                  </li>

                  <li><a ><i class="fa fa-sort-numeric-asc"></i> Turnos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/turno">Listar</a></li>
                      <li><a href="/turno/new">Agregar</a></li>
                    </ul>
                  </li>
                  <% } %>
                <% } %>

                </ul>
              </div>
              

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="/session/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

                  


              <% if( session.authenticated ) { %>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript;:" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                    <img src="/images/user.png" alt=""><%= session.User.usuario %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="#"> Profile</a></li>

                    <li><a href="/session/logout"><i class="fa fa-sign-out pull-right"></i> Cerrar sesion </a></li>
                  </ul>
                
                </li>             
              </ul>
            <% } %>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

                         

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">            
            <div class="clearfix"></div>

            <div class="row" style="background-image: url('/images/fondo.jpg ') ">
              <div class="col-md-12 col-sm-12 col-xs-12">
                
                <%- body %>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Departamento de Sistemas 2017 <a href="https://colorlib.com">FB</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/ticket.js"></script>     

    <!-- FastClick -->
    <!--script src="../vendors/fastclick/lib/fastclick.js"></script-->
    
     <script type="text/javascript" src="/js/otros/custom.min.js"></script>
     <script type="text/javascript" src="/js/fastclick/fastclick.js"></script>
    <!-- NProgress -->
    <!--script src="../vendors/nprogress/nprogress.js"></script-->
      <script type="text/javascript" src="/js/nprogress/nprogress.js"></script>


  </body>
</html>
