<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema Gestion IPDUV | </title>


    <link href="/styles/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/styles/nprogress.css" rel="stylesheet">


    <link href="/styles/custom.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link href="/styles/estilo.css" media="print" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/select2.css">
    <link rel="stylesheet" href="/styles/select2.min.css">

    <link rel="stylesheet" href="/styles/loader.css">

    <style type="text/css">
    .fondo{
     /* background-position: center;*/
    background-repeat: no-repeat;
    background-image: url(/images/background_1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    }

    </style>


  </head>
<body class="fondo">
<% if(flash && flash.err) {%>
<ul class="alert alert-success">
  <% Object.keys(flash.err).forEach(function(error){ %>
    <li> <%- JSON.stringify(flash.err[error].message) %> </li>
  <% }) %>
</ul>
<% } %>

<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
      <%- body %>

       <div>
          <h1> DEPARTAMENTO DE SISTEMAS</h1>
          <p>©2017 TSP. Barraza Federico</p>
        </div>
      </div>
      </section>
    </div>        
  </div>
</div>
</html>

