<!DOCTYPE html>
<html>
  <head>
    <title>IPDUV - Atencion al Publico</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.min.css">
    <link rel="stylesheet" href="/styles/estilo.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/loader.css">
    <link rel="stylesheet" href="/styles/nprogress.css">
    <link rel="stylesheet" href="/styles/select2.css">
    <link rel="stylesheet" href="/styles/select2.min.css">
    <!--STYLES END-->
  </head>

  <body>

    <% if( session.authenticated ) { %>

    <!-- MENU -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/ticket">IPDUV -  Atencion al Publico</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="mensaje"></li>
            <li class="active"><a href="/usuario/show/<%= session.User.id %>"><%= session.User.nombre + ' ' + session.User.apellido %></a>
             <li>

             <li>
                <a href="/usuario/logout" title="Salir"><span class="glyphicon glyphicon-log-out"></span>
                </a>
             </li>
            
          </ul>
          
        </div>
      </div>
    </nav>


    <!-- CONTENEDOR -->
    <div class="container-fluid">
      
      <div class="row">
        
        <div class="col-md-2 sidebar">

          <ul class="nav nav-sidebar">
            
            <li><a href="/tema">Temas</a></li>
            <li><a href="/area">Areas</a></li>
            <li><a href="/ticket">Ticket</a></li>
          
            <li><a href="/persona">Personas</a></li>
            <li><a href="/usuario">Usuarios</a></li>
            <li><a href="/turno">Turnos</a></li>
          </ul>
        </div>
        
        <div class="col-md-10 col-md-offset-2">
          <%- body %>
        </div>
        
        <% }else{ %>
        
        <div class="col-md-12">
          <%- body %>
        </div>
        
        <% } %>

      </div>

    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ticket.js"></script>
    <!--SCRIPTS END-->
    
<script type="text/javascript">
io.socket.on('hello', function gotHelloMessage (data) {
alert(data.id);
//  console.log('Socket `' + data.id + '` joined the party!');
});
    </script>
  </body>
</html>
