<div class= "row">
	<div class="col-md-12">
		<form action="/ticket/update/<%= ticket.id %>" method="POST" accept-charset="utf-8" class="form-singin">
	

			<div class="col-md-6">
				<h2>Datos del ticket</h2>
				<label>Tema</label>
				<div class="control-group">
				    <select class="form-control" name="tema" >
				    <optgroup label="Seleccione un tema">
					    <% _.each(temas, function(tema) { %>
					       <option value= <%=tema.id %> <%if(ticket.tema == tema.id) {%>  selected="selected" <%}%> > <%=tema.tema%> </option>
					    <% }) %>
					</optgroup>
					</select>
				</div>

				<label>Asunto</label>
				<textarea class="form-control" rows="3" name="asunto" class="form-control" required><%= ticket.asunto %></textarea>

				<%if ( session.User) { %>
				<%if ( session.User.admin == '2') { %>
				<label>Turno</label>
				<input type="text" name="turno" class="form-control" value= "<%= ticket.turno %>"  required>

				<label>usuario</label>
				<input type="text" name="usuario" class="form-control" value= "<%= ticket.usuario %>"  required>


			    	<label>Visitas</label>
					<input type="number" name="visitas" class="form-control" value= "<%= ticket.visitas %>"  required>
				<% } %>
				<% } %>
				<br>
				<button type="submit" class="btn btn-default">Editar</button>
				<br><br>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
