<div class="row">

    <div class="col-md-12">
        <h2>Tickets Creados</h2>


        <a href="/ticket/new" class="btn btn-default btn-sm" <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-plus"></span>NUEVO TICKET </a>

            <button type="button" class="btn btn-default btn-sm" id="borrar" name= "borrar">
                 <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> RECARGAR LISTA
            </button>

        <br>
        <br>
        <table id="example" name="example" class="display" cellspacing="0" width="100%"></table>
    
    </div>
</div>

<div id="modalReactivar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Completar datos para continuar con el tramite</h4>
            </div>
            <div class="modal-body edit-content">
<div class="row">
    <form action="/ticket/storeTicket" method="POST" accept-charset="utf-8" class="form-singin">
    <input type="hidden" id= "id" name="id" class="form-control" required> 
    <div class="col-md-12">

        <div class="col-md-6">

                <h2>Datos de la persona</h2>
                <label>DNI</label>
                <input type="text" name="dni" id="dni" class="form-control" disabled required>

                <label>Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" value= '' required>

                <label>Apellido</label>
                <input type="text" name="apellido" id="apellido"  class="form-control" value= '' required>                

                <label>Telefono</label>
                <input type="text" name="telefono" id="telefono" class="form-control" value= '' required>

                <label>Email</label>
                <input type="email" name="email" id="email" class="form-control" value= '' required>
            </div>

        <div class="col-md-6">
            <h2>Datos del ticket</h2>


            <label>Asunto</label>
            <textarea class="form-control" rows="3" name="asunto" class="form-control" ></textarea>
            <%if ( session.User) { %>
            <%if ( session.User.admin == '2') { %>
                    <label>Estado</label>
                    <select class="form-control" name="estado">
                       <option value= 1 > Activo </option>
                       <option value= 0 > Inactivo </option>                           
                    </select>
            <input type="hidden" id= "atendido" name="atendido" value = 1 class="form-control" required>
            <% } %>
            <% } %>
            <br>

            <br>
        </div>
    </div>
</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <input type="submit" class="btn btn-primary" value="Si"/>
            </div>
        </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="/styles/table/tablita.css">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />
<script src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/jquery.dataTables.js"></script>
<script src="/js/table/bootstrap.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>

<script src="/js/pdf/jspdf.js"></script>
<script src="/js/pdf/from_html.js"></script>
<script src="/js/pdf/split_text_to_size.js"></script>
<script src="/js/pdf/standard_fonts_metrics.js"></script>


<script type="text/javascript">


 
 $('#borrar').on( 'click', function () {
     var table = $('#example').DataTable();
     table.destroy();
     $('#example').empty();
     cargarTabla();
 } );



function format ( d ) {
         return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td><strong>Asunto:</strong></td>'+
            '<td>'+d.asunto+'</td>'+
        '</tr>'+

        '<tr>'+
            '<td><strong>Ultima respuesta:</strong></td>'+
            '<td>'+d.respuestas_asunto+'</td>'+
        '</tr>'+

        '<tr>'+
            '<td><strong>Cantidad de visitas:</strong></td>'+
            '<td>'+d.visitas+'</td>'+
        '</tr>'+
    '</table>';
}

 
$('#refrescar').on( 'click', function () {
  tabla();
} );



function cargarTabla(){
   var dt = $('#example').DataTable( {
    "sAjaxSource": "/array/" + <%= atendido %> +"/",
    "sAjaxDataProp": "",
    "responsive" :true,
    "processing": true,
    "destroy": true,
//    "serverSide": true,
    "language": {
     "url": "/idiomatabla.json"},
    "columns": [
            { "data": "visitas", "title" : "Estado"},
            { "data": "turno", "title" : "Num Seg"},
            { "data": "asignado", "title" : "Asignado"},
            { "data": "serenderizaabajo", "title" : "Postulante"},
            { "data": "dni", "title" : "Documento"},
            { "data": "tema", "title" : "Tema"},
            {
                "class":          "details-control",
                "orderable":      true,
                "data":           null,
                "sDefaultContent": '<div class="expand /"> Ver Mas',
                "title" : "Detalle"
            },
            { "data": "serenderizaabajo1", "title" : "Mas Info"},
//            { "data": "serenderizaabajo2", "title" : "Pasar"},

            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return row.apellido + " " + row.nombre;//row.FirstName + " " + row.LastName;
                    },
                    "targets": 3
                },
                
                {
                    "render": function (data, type, row) {
                    if(row.estado >= 1) {
                        var estado = '';
                        switch (row.estado) {
                            case 1:
                                estado = "<b> En Proceso </b>";
                                break;
                            case 2:
                                estado = "<b> Finalizado </b>";
                                break;
                            case 3:
                                estado = "<b> En reposo </b>";
                                break;
                            case 4:
                                estado = "<b> Alta totem </b>";
                        }

                        if(row.estado == 2){ 
                            return '<span class="glyphicon glyphicon-ok" style="color:green"></span>' + estado;
                        } else {
                            var color = '';
                            if(row.visitas < 3){
                                color = 'black';
//                                estado = '<b> En proceso </b>';
                                
                            } else if(row.visitas >= 3 && row.visitas <5){
                                color = 'orange'; 
//                                estado = '<b> En reposo </b>';  
                            } else if(row.visitas >= 5){
                                color = 'red'; 
//                                estado = '<b> En reposo </b>';  
                            }
                            return '<span class="glyphicon glyphicon-remove" style="color:' + color +'"></span>  ' + estado;
                        }
                     }   
                     else {
                        var estado = "<b> ELIMINADO </b>";
                        return '<B><p style="color:red">' + estado + '</span> </B>';
                    }

                    },
                    "targets": 0
                },
                {
                    "render": function (data, type, row) {
                //        if(row.estado == 1) {
                    if(row.estado == 4)
                    {
                return '<a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalReactivar"  data-whatever = "' + row.dni +'" id = "' + row.id + '" role="button"><span class="glyphicon glyphicon-repeat"></span> COMPLETAR</a>';
               } else {
                return '<a href="/ticket/show/'+ row.id +'" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> MAS INFO</a>';
      }
                    },
                    "targets": 7
                },
            /*    {
                    "render": function (data, type, row) {
                        return '<a href="" class="btn btn-default btn-sm" data-objeto= "area" data-toggle="modal" data-target="#edit-modal" id = "' + row.id +'" role="button"><span class="glyphicon glyphicon-refresh"></span> PASAR</a>';
                    },
                    "targets": 7
                },*/

            ]

    } );

    $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = dt.row( tr );
 
        if ( row.child.isShown() ) {
            row.child.hide();
            // <link rel="stylesheet" href="/styles/table/tablita.css">
            //AGREGA LA CLASE PARA EL CSS DE TABLITA QUE MUESTRA EL MAS VERDE
              tr.removeClass('shown');
              $(this).text("Ver Mas");
        }
        else {
            row.child(format(row.data()) ).show();
            //AGREGA LA CLASE PARA EL CSS DE TABLITA QUE MUESTRA EL MAS ROJO
             tr.addClass('shown');
            $(this).text("Ver Menos");
        }
    } );


    $('#edit-modal').on('show.bs.modal', function(e) {

        var $modal = $(this),
            esseyId = e.relatedTarget.id;

            $("#idTicket").val( esseyId );

    })
}



cargarTabla();


io.socket.on('recargarTabla', function gotHelloMessage (data) {
    var table = $('#example').DataTable();
    table.destroy();
    $('#example').empty();
    cargarTabla();
});

$('#modalReactivar').on('show.bs.modal', function(e) {

    var $modal = $(this);
    var button = $(e.relatedTarget); // Button that triggered the modal
    var recipient = button.data('whatever');

    esseyId = e.relatedTarget.id;

    $("#id").val( esseyId );

   var myBookId = $(this).data('objeto');

    $("#dni").val( recipient );
})
</script>