<div class= "row">
	<div class="col-md-12">
		<form action="/ticket/store" method="POST" accept-charset="utf-8" class="form-singin">
			
			<div class="col-md-6">
			<div id="verificacion">
	
			</div>
				<h2>Datos de la persona</h2>

				<label>DNI</label>
				<input type="text" name="dni" id="dni" class="form-control" value= '' required>

				<label>Nombre</label>
				<input type="text" name="nombre" class="form-control" value= ''required>

				<label>Apellido</label>
				<input type="text" name="apellido" class="form-control" value= '' required>				

				<label>Telefono</label>
				<input type="text" name="telefono" class="form-control" value= ''required>

				<label>Email</label>
				<input type="email" name="email" class="form-control" value= '' required>
			</div>

			<div class="col-md-6">
				<h2>Datos del ticket</h2>

				<div class="col-md-4">
				<label>Areas</label>
        			 <select class="js-example-basic-single" id = "area" name = "area" style = "width: 100%;" class="form-control">
        			</select>
        		</div>
        		<br><br><br><br>
        		<div class="col-md-10">
        			<label>Temas</label>
        			 <select class="js-example-basic-single1" id = "tema" name = "tema" style = "width: 100%;" class="form-control">
        			</select>
        		</div>
        		<br><br>
        		<br><br>

				<label>Asunto</label>
				<textarea class="form-control" rows="3" name="asunto" class="form-control" required></textarea>

				<label>Turno</label>
					<input type="text" name="turno" id = "turno" class="form-control" value= '<%-turno %>' required>
					
				<%if ( session.User) { %>
				<%if ( session.User.admin == '2') { %>
				    	<label>Estado</label>
					    <select class="form-control" name="estado">
					       <option value= 1 > Activo </option>
					       <option value= 0 > Inactivo </option>					       
						</select>		
				<% } %>
				<% } %>
				<br>
				<button type="submit" class="btn btn-default">Agregar</button>
				<br>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/otros/ticket.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<link rel="stylesheet" href="/styles/select2.css">
<link rel="stylesheet" href="/styles/select2.min.css">
<script src="/js/select2/js/select2.min.js"></script>

<script type="text/javascript">
select2Areas();

$(".js-example-basic-single").change(function(){
	var idArea = x=$(".js-example-basic-single").val();
    select2Temas(idArea);
});
$(".js-example-basic-single1").select2();
//incrementarInt();

function incrementarInt(){
 	var str = $("#turno").val();
	var hasta = str.length,
	desde = 3,
	cortado = str.substr(0, 3);


	var resul = parseInt(str.substr(desde, hasta));
	if(resul < 99) {
		resul += 1;
		cortado = cortado + resul.toString();
	} else {    
		resul = 1;
		cortado = ((parseInt(cortado, 36)+1).toString(36)).replace(/0/g,'a').toUpperCase() + resul.toString();
	}
	$("#turno").val(cortado);
}


/*
$('#exportar').on( 'click', function () {
	incrementarString();
} );
*/

function select2Areas(){
	$.ajax({  
	    type: "GET",
	  	url: "/area_ajax/",
	    cache: false,
	    async:true,
	    dataType: 'json',
	    success: function(data){
		    $(".js-example-basic-single").select2({
		        data: data
		    })
		 select2Temas(data[0].id);
		}
	});
}

function select2Temas(idArea){
 $('.js-example-basic-single1').find('option').remove().end();
  $.ajax({  
            type: "GET",
		  	url: "/tema_ajax/",
			data: {idArea: idArea},
		    cache: false,
		    async:true,
		    dataType: 'json',
            success: function(data){  
          //   debugger;        
            $(".js-example-basic-single1").select2({
              data: data
            })
            } 
        });
		
}
//	var array = $('form').serializeArray();
//	alert(array[3].value);

io.socket.on('incrementarContador', function gotHelloMessage (data) {
    incrementarInt();
});

</script>
