<br><br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" >
            <div class="panel-body">
                            <button type="button" class="btn btn-primary btn-sm" id="exportar" name= "borrar">
                                   <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> IMPRIMIR TICKET
                            </button>
                <div class="col-md-12">
                    <div class="pull-right" >
                        <h5><b> <%-ticket.creacion %> </b></h5>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3><b> <%-ticket.tema.tema %> </b></h3>
                    <%= ticket.asunto %>
                    

                    
                </div>           
          
                <div class="col-md-12">
                 <br>
                    <div class="col-md-6">
                        <%if ((ticket.respuestas.length >= 1 && (ticket.respuestas[0].tipo == '1' || ticket.respuestas[0].tipo == '4') ) ||  (ticket.respuestas == 0  )){ %>
                            <a href="" class="btn btn-success"  data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-ok"></span> RESOLVER </a> 
                        <% } %>
                    </div>

                    <div class="col-md-6">
                        <div class="pull-right" >
                            <%if ((ticket.respuestas.length >= 1 && (ticket.respuestas[0].tipo == '1' || ticket.respuestas[0].tipo == '4') ) ||  (ticket.respuestas == 0  )) { %>
                                <a href="" class="btn btn-default"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-share-alt"></span> RESPONDER </a>
                            <% } %>
                        </div>
                    </div>

                </div>    

                <div class="col-md-12">
                    <br>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="height:130px; overflow:auto;">
                        <br>                      
                        <%if (ticket.respuestas.length > 0) { %>                   
                            <% _.each(ticket.respuestas, function(respuesta) { %>
                                <%if ( respuesta.tipo == '1') { %>    
                                   <div class="panel panel-default">

                                <% } else if ( respuesta.tipo == '3') {%>
                                        <div class="panel panel-danger">
                                <% } else if ( respuesta.tipo == '4') {%>
                                        <div class="panel panel-warning">
                                <% } else if ( respuesta.tipo == '5') {%>
                                        <div class="panel panel-info">        
                                <% } else {%>  
                                        <div class="panel panel-success">
                                <% } %> 


        <%if (respuesta.usuario){ %>
        <div class="panel-heading"> 
            <div align="right"><%= respuesta.creacion + ' - ' + respuesta.usuario.nombre + ' ' +  respuesta.usuario.apellido  + ': ' %> <strong> <%=respuesta.asunto%></strong> </div> 
        </div>
    
        <% } else {%>  
        <div class="panel-heading"> 
            <div align="right"><%= respuesta.creacion + ' - ' +  'Cliente: ' %> <strong> <%=respuesta.asunto%></strong> 
            </div> 
            </div>

        <% } %>      

                                        </div>           
                            <% }) %>   
                                    </div>             
                        <% } %>          
                    </div>
            </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3 class="panel-title">LISTA DE AREAS POR LA QUE PASO EL TICKET</h3>
                </div>
                <div class="panel-body">
                 <%if ( (ticket.estado != 0) && ticket.estado != 3) { %>
                    <a href="" class="btn btn-default"  data-toggle="modal" data-target="#edit-modal"><span class="glyphicon glyphicon-refresh"></span> PASAR </a>
                    <br><br>
                <% } %>
                    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Creacion</th>
                <th>Usuario</th>
                <th>Area</th>
             
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Creacion</th>            
                <th>Usuario</th>
                <th>Area</th>

            </tr>
        </tfoot>
        <tbody>
                 <% _.each(transiciones, function(transi) { %>
                 <tr>
                        <td><%= transi.createdAt.getDate()+ "/" + (transi.createdAt.getMonth() + 1 ) + "/" + transi.createdAt.getFullYear() + " " +(transi.createdAt.getHours()) + ":" + (transi.createdAt.getMinutes())  %> </td>
                        <td><%= transi.usuario.nombre + ' ' + transi.usuario.apellido %> </td>   
                        <td><%= transi.area.nombre %> </td>
                </tr> 
                 <% }) %>
        </tbody>
    </table>

                
                </div>
            </div>
        </div>  


        <%if ( session.User) { %>
        <%if ( session.User.admin == '1') { %>          
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="center">
                    <h3 class="panel-title">OPCIONES</h3>
                </div>
                <div class="panel-body">
                    <div align="center">
                    <a href="/ticket/edit/<%=ticket.id%>" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> EDITAR TICKET</a>
                    <a href="/#" class="btn btn-default"  data-toggle="modal" data-target="#modalBorrar"><span class="glyphicon glyphicon-trash"></span> ELIMINAR </a>
                <%if ( (ticket.estado == 0) || (ticket.estado == 3) ) { %>
                    <a href="/#" class="btn btn-default"  data-toggle="modal" data-target="#modalReactivar"><span class="glyphicon glyphicon-repeat"></span> REACTIVAR </a>
                <% } %>
                        
                    </div>


                    
                </div>
            </div>
        </div>  
        <% } %>
        <% } %>     
    </div>         
</div> 


<div class="modal fade">
<div  id="PrintArea" class="PrintArea" name= "PrintArea">
                <div id="divi" >
                    <img src="/images/logo.png" alt="Smiley face" height="30" width="70"><br>
                    <span style="font-size: 8px;"> Fecha: <%= transiciones[0].createdAt.getDate()+ "/" + (transiciones[0].createdAt.getMonth() + 1 ) + "/" + transiciones[0].createdAt.getFullYear() + " " +(transiciones[0].createdAt.getHours()) + ":" + (transiciones[0].createdAt.getMinutes())  %></span><br>
                    <span style="font-size: 8px;">Tema: <%-ticket.tema.tema %></span><br>
                    <span style="font-size: 8px;">Codigo Seguimiento: <%-ticket.turno %></span><br>
                    
                </div>
                <div id="divi1" >
                    <div id="qr"></div>
                </div>
                </div>
</div>

<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Pasar ticket</h4>
            </div>
            <div class="modal-body edit-content">
                <form action="/transicion" method="POST" accept-charset="utf-8" class="form-singin">

                
                <input type="hidden" id= "idTicket" name="idTicket" value="<%=ticket.id%>" class="form-control" required>
                    <label>Area</label>
                    <div class="control-group">
                        <select class="form-control" name="area" required>
                        <option value="" disabled selected>Seleccione el area al que desa pasar el ticket</option>

                            <% _.each(areas, function(area) { %>
                               <option value= <%=area.id %> > <%=area.nombre%> </option>
                            <% }) %>
                        </select>

                        <input type="hidden" name="ticketId" value= <%= ticket.id %> >
                        <label>Observacion</label>
                        <textarea class="form-control" rows="3" name="asunto"></textarea>
                        <br>

                    </div>
                <br>
                
                <br>
            

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>
        </form>
    </div>
</div>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h3 class="modal-title" id="myModalLabel">Resolver y cerrar !</h3>
            </div>
            <div class="modal-body">
                <div class="btn-group center-block">
                    <form action="/respuesta/store" method="POST" accept-charset="utf-8" class="form-singin">
                        <input type="hidden" name="ticketId" value= <%= ticket.id %> >

                        <label>Estado</label>
                        <select class="form-control" name="tipoAsunto" required="true">
                           <option value="" disabled selected>Seleccione un tipo de solucion</option>
                           <option value='Solucionado. ' > Si </option>                                          
                           <option value= 'Es factible. ' > Factible </option>
                           <option value= 'No es factible. ' > No Factible </option>
                        </select>

                        <label>Respuesta</label>
                        <textarea class="form-control" rows="3" name="asunto" required="true"></textarea>
                        <br>
                        <input type="hidden" name="tipo" class="form-control" value= '0' required>
                        <br>
                        <input type="submit" class="btn btn-default"/>
                        <br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h3 class="modal-title" id="myModalLabel">Responder !</h3>
            </div>
            <div class="modal-body">
                <div class="btn-group center-block">
                    <form action="/respuesta/store" method="POST" accept-charset="utf-8" class="form-singin">
                        <input type="hidden" name="ticketId" value= <%= ticket.id %> >
                        <label>Respuesta</label>
                        <textarea class="form-control" rows="3" name="asunto"></textarea>
                        <br>
                        <input type="hidden" name="tipoAsunto" value= " " >
                        <input type="hidden" name="tipo" class="form-control" value= '1' required>
                        <br>
                        <input type="submit" class="btn btn-default"/>
                        <br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBorrar" tabindex="-1" role="dialog" >

<form action="/ticket/baja/<%= ticket.id %>" method="POST" accept-charset="utf-8" class="form-singin">
    <input type="hidden" name="ticketId" value= <%= ticket.id %> >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h3 class="modal-title" id="myModalLabel">Esta a punto de dar de baja el ticket!</h3>
            </div>
            <div class="modal-body">
                <label>Motivo de la baja</label>
                        <textarea class="form-control" rows="3" name="asunto" required="true"></textarea> <br>
                <p>Seguro que desea borrar el ticket?</p>
                <input type="submit"  class="btn btn-default" value="Eliminar"/>
            </div>
            <input type="hidden" name="tipo" class="form-control" value= '3' required>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</form>
</div>


<div class="modal fade" id="modalReactivar" tabindex="-1" role="dialog" >

<form action="/ticket/reactivar/<%= ticket.id %>" method="POST" accept-charset="utf-8" class="form-singin">
    <input type="hidden" name="ticketId" value= <%= ticket.id %> >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h3 class="modal-title" id="myModalLabel">Esta a punto de dar de volver a abrir el ticket!</h3>
            </div>
            <div class="modal-body">
                <label>Motivo de la reactivacion</label>
                        <textarea class="form-control" rows="3" name="asunto" required="true"></textarea> <br>
                <p>Seguro que desea reactivar el ticket?</p>
                <input type="submit"  class="btn btn-default" value="Activar"/>
            </div>
            <input type="hidden" name="tipo" class="form-control" value= '4' required>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</form>
</div>


<link rel="stylesheet" href="/styles/table/tablita.css">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/table/jquery.dataTables.js"></script>


<script src="/js/pdf/jspdf.js"></script>
<script src="/js/pdf/html2canvas.js"></script>
<script src="/js/pdf/from_html.js"></script>
<script src="/js/pdf/split_text_to_size.js"></script>
<script src="/js/pdf/standard_fonts_metrics.js"></script>
<script src="/js/pdf/printarea.js"></script>
<script src="/js/otros/qrcode.js"></script>
<script src="/js/otros/promise-6.1.0.min.js"></script>
<script src="/js/otros/qr.js"></script>

<script type="text/javascript">

$('#exportar').on( 'click', function () {
// QR GRANDE    update_qrcode('http://localhost:1337/ticket/show/1');
// MICRO QR
var url = "app.sistemas.ipduv.gov.ar:1337" + '/ticket/show/' + "<%=ticket.id%>";
console.log(url);
update_qrcode(url);
 $("#PrintArea").printArea();
} );
/*
function htmlToPDF(){
    html2canvas(document.body, {
        onrender function (canvas){
            var img = canvas.toDataURL("img.png");
            var doc = new jsPDF();
            doc.addImage
        }
    })
}
function htmlToPDF1(){
    var doc = new jsPDF();          
    var elementHandler = {
      '#ignorePDF': function (element, renderer) {
        return true;
      }
    };
    var source = window.document.getElementById("dibujar");
    doc.fromHTML(
        source,
        15,
        15,
        {
          'width': 180,'elementHandlers': elementHandler
        });
    doc.output("dataurlnewwindow");
}
*/
var table = $('#example').DataTable({
    "responsive" :true,
    "order": [[ 0, "desc" ]],
     "language": {
     "url": "/idiomatabla.json"}
      // "columns": [
      //       { "data": "Id", "visible": true},
      //       { "data": "Fecha", "visible": true}
      //       ]
    });




   // $('#example').DataTable();
</script>