<div class="row">

	<div class="col-md-6">
		<h1> Editar tema</h1>

		<form action="/tema/update/<%= tema.id %>" method="POST" accept-charset="utf-8" class="form-singin">

			<label>Tena</label>
			<input type="text" name="tema" value="<%= tema.tema %>" class="form-control" required>

			<label>Area</label>
				<div class="control-group">
				    <select class="form-control" name="area" >
				    <optgroup label="Seleccione un area">
					    <% _.each(areas, function(area) { %>
					       <option value= <%=area.id %> <%if(tema.area == area.id) {%>  selected="selected" <%}%> > <%=area.nombre%> </option>
					    <% }) %>
					</optgroup>
					</select>
				</div> 

			<%if (session.User) { %>
				<%if ( session.User.admin == '2') { %>	
					<label>Estado</label>
					<select class="form-control" name="estado">
					   <option value= 1 <%if(1 == tema.estado) {%> selected="selected" <%}%> > Activo </option>
					   <option value= 0 <%if(0 == tema.estado) {%> selected="selected" <%}%>> Inactivo </option>					       
					</select>
				<% } %>
			<% } %>
			<br>
			<input type="submit" class="btn btn-default"/>
			<br>
		</form>

	</div>
</div>

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script>