<div class= "row">
	<div class="col-md-12">
		<h2>Temas Registrados</h2>
        <a href="/tema/new" class="btn btn-default btn-sm" <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-plus"></span>AGREGAR TEMA </a>
		<br>
		<br>
		<table id="table"  class="display" cellspacing="0" width="100%" >
            <thead>
				<th>Tema</th>
				<th>Area</th>
				<th>Estado</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</thead>
            <tbody>
			<% _.each(temas, function(entidad) { %>
			<tr>
				<td><%= entidad.tema %></td>
				<td><%= entidad.area.nombre %></td>
				<td>
					 <% if(1 == entidad.estado) { %>
				        Activo <% } else { %> Inactivo
				    <% } %>
				</td>
				<td>
					<a href="/tema/edit/<%= entidad.id %>" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-pencil"></span> EDITAR </a>  
				</td>

				<td>
				<a href="" class="btn btn-default btn-sm" data-objeto= "tema" data-toggle="modal" data-target="#myModal1" id = "btnModal" name = <%= entidad.id %>  >
                    <span class="glyphicon glyphicon-trash"></span> ELIMINAR </a>
				</td>
			</tr>           

			<%})%>
			</tbody>
        </table>
	</div>
	</div>
</div>

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css" />
<% include ../template/eliminar %>
<% include ../template/tabla %>