<div class="col-md-6">

	<h1> Registro de tema</h1>

	<form action="/tema/store" method="POST" accept-charset="utf-8" class="form-singin">

				<label>Tema</label>
				<input type="text" name="tema" class="form-control" required>

				
					<label>Area</label>
					<div class="control-group">
					    <select class="form-control" name="area" required>
					    <option value="" disabled selected>Seleccione un area</option>

						    <% _.each(areas, function(area) { %>
						       <option value= <%=area.id %> > <%=area.nombre%> </option>
						    <% }) %>
						</select>
			    	</div> 
			<%if ( session.User) { %>
				<%if ( session.User.admin == '2') { %>
			    	<label>Estado</label>
				    <select class="form-control" name="estado">
				       <option value= 1 > Activo </option>
				       <option value= 0 > Inactivo </option>					       
					</select>
				<% } %>
			<% } %>

				<br>
				<input type="submit" class="btn btn-default"/>
				<br>
			</form>
</div>

<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script>