body {
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
*/  color: #333;
/*  background-color: #181C5F;*/
    background:url(../images/bg.jpg);
/*  text-align: center;*/
/*top: 50px;*/
left: 50px;

right: 50px;
position: absolute;

margin: 0 auto;
}

.wP20 .fondo .nomDay {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 114px;
}

.ultimo {
  color: #fff;
  font-size: 70px;
  letter-spacing: -7px;
  font-weight: 600;
}


.clima {
padding-top: 100px;
padding-left:  40%;
}

.turno {
  /*position: absolute;
  top: 50px;
  left: 100px;*/
}

.box {
  /*position: absolute;
  top: 50px;
  left: 600px;*/
}

.historial {

background: #f2f2f2;
    background: rgba(255,255,255,0.2);

  color: #B6B3B3;
  padding: 15px;
  font-size: 30px;
  font-weight: 700;
/*  position: absolute;
  left: 50px;
  bottom: 50px;
  height: 337px;
  padding: 30px;*/
  /*background: #0E1142;*/
  bottom: 50px;
}

video {  
/*  position: absolute;
 */ /*bottom: 50px; */
  /*right: 50px;*/
  /*width: 80%;
  */
/*  right: 10px;
  */
  left: 40px;
  
  width: 65%; 
/*  height: 0%;*/
}

.abajo {
  position: fixed;
  bottom: 50px;
  width:100%;
}



/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
