<br>
<br>
<div class="container">
	<h1> Registro de respuesta</h1>

	<form action="/respuesta/update/<%= respuesta.id %>" method="POST" accept-charset="utf-8" class="form-singin">

		<label>Asunto</label>
		<input type="text" name="asunto" value="<%= respuesta.asunto %>" class="form-control" required>

		<label>Tipo</label>
		<input type="text" name="tipo" value="<%= respuesta.tipo %>" class="form-control" required>
		<br>
		<input type="submit" class="btn btn-default"/>
		<br>
	</form>
</div>