<div class="container">
	<h2>Respuestas Registrados</h2>
	<table class="table table-hover" >
		<th>Asunto</th>
		<th>Tipo</th>
		<th colspan="2" class="text-center">Acciones</th>
		<% _.each(respuestas, function(respuesta) { %>
		<tr>
			<td><%= respuesta.asunto %></td>
			<td><%= respuesta.tipo %></td>
			<td>
				<a href="/respuesta/show/<%=respuesta.id%>" class="btn btn-success btn-sm ">Ver Detalles</a>
			</td>
			<td>
				<form action="/respuesta/destroy/<%= respuesta.id%>" method="POST" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit"  class="btn btn-sm btn-danger" value="Eliminar"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
				</form>
			</td>
		</tr>
		<%})%>
	</table>
</div>