<div class="container">
	<h1> Registro de respuesta</h1>

	<form action="/respuesta/store" method="POST" accept-charset="utf-8" class="form-singin">
		<input type="hidden" name="ticketId" value= 1>

		<label>Asunto</label>
		<input type="text" name="asunto" class="form-control" value= '1'required>

		<label>Tipo</label>
		<input type="text" name="tipo" class="form-control" value= '1' required>
		<br>
		<input type="submit" class="btn btn-default"/>
		<br>
	</form>
</div>