<div class="container">
	<h2>Informacion de la respuesta</h2>
	<ul>
		<li> <%= respuesta.asunto %> </li>
		<li> <%= respuesta.tipo %> </li>
	</ul>


	<form action="/respuesta/edit/<%=respuesta.id%>" method="POST" accept-charset="uft-8">
		<button type="submit" class="btn btn-success"> Editar</button>
	</form>
</div>