body {
  margin: 0;
}

@page 
    {
        size:  auto;   /* auto es el valor inicial */
        margin: 0mm;  /* afecta el margen en la configuración de impresión */
        margin-top: 15px;
    }

#divi{
  margin-left: 12px;
  clear: both;
  display: inline;
  float: left;
}

#divi1{ 
  margin-left: 8px;
  display: inline; 
  float: left;

}