
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h3 class="modal-title" id="myModalLabel">Confirmar borrado!</h3>
            </div>
            <div class="modal-body">
                <p>Seguro que desea eliminar?</p>
                <a type="buttom" id="btnDelete" class='btn btn-sm btn-danger'>Eliminar</a>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>