<script type="text/javascript" src="/js/table/jquery-1.11.1.min.js"></script>
<script src="/js/table/bootstrap.min.js"></script>
<link rel="stylesheet" href="/styles/table/tablita.css">
<link rel="stylesheet" href="/styles/table/jquery.dataTables.css">
<script type="text/javascript" src="/js/table/jquery.dataTables.js"></script>



<script type="text/javascript">
function listarObservaciones()
    {
    var table = $('#table').DataTable({
    "responsive" :true,
    "order": [[ 0, "desc" ]],
     "language": {
     "url": "/idiomatabla.json"}
      // "columns": [
      //       { "data": "Id", "visible": true},
      //       { "data": "Fecha", "visible": true}
      //       ]
    });
}


$('#myModal1').on('show.bs.modal', function(e) {
  // PARA FACILITAR EL JS UTILIZO EL PARAMETRO NAME COMO ID
   var id =  e.relatedTarget.name; 
   // OBJETO HACE REFERENCIA AL TIPO DE ENTIDAD, LO USO PARA HACER URLS
   var objeto = $("#btnModal").attr("data-objeto");    

   $('#btnDelete').attr('href','/' + objeto +'/destroy/'+id);
})

/*
    // $('#example').dataTable( {
    // "aaSorting": [ ], // Prevent initial sorting
    // "sAjaxSource": "http://localhost:1337/array",
    // "sAjaxDataProp": "",
    // "bProcessing": true,
    // "aoColumns": [
    // { "mData": "nombre"},
    // { "mData": "estado" },
    // { "mData": "id" }
    // ]
    // } );
*/
listarObservaciones();

</script>