<h1> Registro de usuario</h1>

<form action="/usuario/update/<%= usuario.id %>" method="POST" accept-charset="utf-8" class="form-singin">

	<label>Nombre</label>
	<input type="text" name="nombre" value="<%= usuario.nombre %>" class="form-control" required>

	<label>Apellido</label>
	<input type="text" name="apellido" value="<%= usuario.apellido %>" class="form-control" required>

	<label>Nombre de usuario</label>
	<input type="text" name="usuario"  value="<%= usuario.usuario %>" class="form-control" required>

	<label>Email</label>
	<input type="text" name="email" value="<%= usuario.email %>" class="form-control" required>

	<label>Estado</label>
	<input type="text" name="estado" value="<%= usuario.estado %>" class="form-control" required>
	
	<label>Area</label>
		<div class="control-group">
		
		    <select class="form-control" name="area" >
		    <optgroup label="Planta baja">
			    <% _.each(areas, function(area) { %>
			       <option value= <%=area.id %> <%if(usuario.area == area.id) {%>  selected="selected" <%}%> > <%=area.nombre%> </option>
			    <% }) %>
			</optgroup>
			</select>
		</div> 
	<br>

	<label>Administrador</label>
		<select class="form-control" name="admin">
			<option value= 0 <%if(0 == usuario.admin) {%> selected="selected" <%}%>> No </option>
			   <option value= 1 <%if(1 == usuario.admin) {%> selected="selected" <%}%> > Si </option>
		</select>

	<input type="submit" class="btn btn-default"/>
	<br>
</form>