<br>
<div class= "row">
	<div class="col-md-12">
		<h2>Usuarios Registrados</h2>
		<a href="/usuario/new" class="btn btn-default btn-sm" <span class="glyphicon glyphicon-plus"></span> <span class="glyphicon glyphicon-plus"></span>AGREGAR USUARIO </a>
        <br>
        <br>
        
		<table id="table"  class="display" cellspacing="0" width="100%" >
            <thead>
            <th>Nombre</th>
			<th>Usuario</th>
			<th>Email</th>
			<th>Editar</th>
			<th>Eliminar</th>
			</thead>
            <tbody>
				<% _.each(usuarios, function(usuario) { %>
				<tr>
					<td><%= usuario.nombre + ' ' + usuario.apellido %></td>
					<td><%= usuario.usuario %></td>
					<td><%= usuario.email %></td>
					<td>
					<a href="/usuario/edit/<%= usuario.id %>" class="btn btn-default"> <span class="glyphicon glyphicon-pencil"></span> EDITAR </a>  
				</td>
				<td>
					<a href="" class="btn btn-default" data-objeto= "usuario"  data-id= <%= usuario.id %> data-toggle="modal" data-target="#myModal1" id = "btnModal">
                        <span class="glyphicon glyphicon-trash"></span> ELIMINAR </a>
				</td>
				</tr>
				<%})%>
			</tbody>
	    </table>
	</div>
</div>	

<% include ../template/eliminar %>
<% include ../template/tabla %>