<div class="row">
	<div class="col-md-4 col-md-offset-4 mtop60">
		<% if(session.flash){ %>
		<ul class="list-group">
			<% 
			if(session.flash.texto) 
			{
				%><li class="list-group-item list-group-item-danger" class="list-group-item list-group-item-danger"> <%- JSON.stringify(session.flash.texto) %></li><%
			}
			else
			{	
			Object.keys(session.flash.err).forEach(function(error){ %>
			<li class="list-group-item list-group-item-danger"> <%- JSON.stringify(session.flash.err[error]) %></li>
			<% })
			} %>
		</ul>
		<% } %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Ingreso</h3>
			</div>
			<div class="panel-body">
				<form action="/usuario/login" method="POST">
					<div class="form-group">
					    <label for="usuario">Usuario</label>
					    <input type="input" class="form-control" id="usuario" name="usuario" value="" >
					</div>
					<div class="form-group">
					    <label for="password">Contraseña</label>
					    <input type="password" class="form-control" id="password" name="password">
					</div>
					<!---
					<div class="checkbox">
					    <label>
					      	<input type="checkbox" name="recordarme"> Recordarme
					    </label>
					</div>
					---->
					<button type="submit" class="btn btn-default">Entrar</button>
				</form>		
				

			  
			</div>
		</div>
	</div>
</div>	