<form action="/usuario/store" method="POST" accept-charset="utf-8" class="form-singin">	
	<div class = "row">
		<div class="col-md-12">
	 	
			<h2 align="center">Usuario Nuevo</h2>
			<div class="col-md-6">
				
				<label>Nombre</label>
				<input type="text" name="nombre" class="form-control" value= ''required unique>

				<label>Apellido</label>
				<input type="text" name="apellido" class="form-control" value= '' required>

				<label>Nombre de usuario</label>
				<input type="text" name="usuario" class="form-control" value= '' required>

				<label>Clave</label>
				<input type="password" name="clave" value= '' class="form-control" required>

				<label>Confirmar clave</label>
				<input type="password" name="claveConfirmacion" value= '' class="form-control" required>

			</div>
					
			<div class="col-md-6">
				<label>Email</label>
				<input type="text" name="email" class="form-control" value= '' required>

				<label>Area</label>
					<div class="control-group">
					
					    <select class="form-control" name="area" required>
					    <option value="" disabled selected>Seleccione un area</option>

						    <% _.each(areas, function(area) { %>
						       <option value= <%=area.id %> > <%=area.nombre%> </option>
						    <% }) %>
						</select>
			    	</div> 

			    	<%if (session.User) { %>
				<%if ( session.User.admin == '1') { %>	
					<label>Tipo de Usuario</label>
					<select class="form-control" name="admin">
					   <option value= 0 > Normal </option>
					   <option value= 1 > Administrador </option>					       
					</select>

					<label>Estado</label>
					<select class="form-control" name="estado">
					   <option value= 1 > Activo </option>					      					
					   <option value= 0 > Inactivo </option>
					</select>
				<% } %>
			<% } %>
					<br>
					<input type="submit" class="btn btn-default"/>
					<button type="button" class="btn btn-default">Click Me!</button>
			</div>			
		</div>	
	</div>
</form>

<script type="text/javascript">
	var x;
	x=$(document);
	x.ready(inicializarEventos);

	function inicializarEventos()
	{
	  x=$("#boton2");
	  x.click(asignarBox);
	  intervalo(500);
	}

	function intervalo($tiempo)
	{
	    setInterval(showAjax, $tiempo);
	}
</script>