<h2>Informacion del Usuario</h2>
<ul>
	<li> <%= usuario.nombre %> </li>
	<li> <%= usuario.apellido %> </li>
	<li> <%= usuario.area.nombre %> </li>
</ul>


<form action="/usuario/edit/<%=usuario.id%>" method="POST" accept-charset="uft-8">
	<button type="submit" class="btn btn-success"> Editar</button>
</form>
